@import "button";

@function add($num1, $num2: 5) {
  @return #{$num1 + $num2}rem;
}

$colors: (
  "clr-primary": red,
  "clr-secondary": green,
  "clr-gray": gray,
  "clr-white": white,
  "clr-black": black,
  "clr-red": red,
);

h1 {
  background-color: map-get($colors, clr-black);
  color: map-get($colors, clr-white);
  font-size: add(2, 3);
}

.section {
  background-color: map-get($colors, clr-black);

  &__content {
    color: map-get($colors, clr-white);

    &-title {
      color: map-get($colors, clr-red);
    }

    &-link {
      color: map-get($colors, clr-white);
    }
  }
}
