@import "button";

@function add($num1, $num2: 5) {
  @return #{$num1 + $num2}rem;
}

@mixin section-styling($dir) {
  display: flex;
  flex-direction: $dir;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 2rem;
}

$colors: (
  "clr-primary": red,
  "clr-secondary": green,
  "clr-gray": gray,
  "clr-white": white,
  "clr-black": black,
  "clr-red": red,
  "clr-blue": blue,
);

h1 {
  background-color: map-get($colors, clr-black);
  color: map-get($colors, clr-white);
  font-size: add(2, 3);
}

%text-style {
  font-size: 2rem;
  font-weight: bold;
  color: map-get($colors, clr-white);
}

.section {
  background-color: map-get($colors, clr-black);

  &__content {
    color: map-get($colors, clr-white);

    &-title {
      color: map-get($colors, clr-red);
    }

    &-link {
      color: map-get($colors, clr-white);
    }
  }

  &__title {
    @extend %text-style;
  }

  &__para {
    @extend %text-style;
    font-size: 1rem;
  }
}

.section1 {
  @include section-styling(column);
  background-color: map-get($colors, clr-blue);

  &__title {
    font-size: 1.5rem;
  }

  &__para {
    color: map-get($colors, clr-white);
  }
}

.section2 {
  @include section-styling(row);
  background-color: map-get($colors, clr-red);

  &__title {
    font-size: 1.5rem;
  }

  &__para {
    color: map-get($colors, clr-white);
  }
}

.section3 {
  div {
    height: 10rem;
    width: 10rem;
  }

  $bg-colors: (red, green, blue, yellow, black);

  @each $bg-color in $bg-colors {
    .#{$bg-color} {
      background-color: $bg-color;
      color: map-get($colors, clr-white);
    }
  }
}

.container {
  div {
    height: 10rem;
    background-color: map-get($colors, clr-black);
    color: map-get($colors, clr-white);
    border: 1px solid map-get($colors, clr-white);
  }

  @for $num from 1 through 5 {
    .box-#{$num} {
      width: calc(100% / $num);
    }
  }
}
