$colors: (
  "clr-primary": red,
  "clr-secondary": green,
  "clr-gray": gray,
  "clr-white": white,
  "clr-black": black,
);

h1 {
  background-color: map-get($colors, clr-black);
  color: map-get($colors, clr-white);
}
